<% provide(:title, 'Edit') %>

<h2>Edit your profile <%= @user.name %> </h2>

<%= form_for(@user) do |f| %>

    <%= f.label :name %>
    <%= f.text_field :name  %>

    <%= f.label :email %>
    <%= f.text_field :email %>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.label :skills %>
    <%= f.text_field :skills %>

    <%= f.label :experience%>
    <%= f.text_field  :experience %>

    <input type="hidden" name="id" value="<%=@user.id%>"> </input>

    <%= f.submit "Save", class: "btn btn-large btn-primary" %>
<% end %>





