<% provide(:title, 'Create') %>
<h3>Create your profile </h3>

<%= form_for(:user, url: {action: "create"}) do |f| %>

    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :email %>
    <%= f.text_field :email %>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.label :skills %>
    <%= f.text_field :skills %>

    <%= f.label :experience%>
    <%= f.text_field :experience %>

    <%= f.submit "Create my account",  class: "btn btn-large btn-primary" %>
<% end %>
